[submodule "alim-elec"]
	path = alim-elec
	url = https://github.com/PhoenixRobotik/alim-elec
[submodule "strategie-elec"]
	path = strategie-elec
	url = https://github.com/PhoenixRobotik/strategie-elec
[submodule "component-libraries"]
	path = component-libraries
	url = https://github.com/PhoenixRobotik/component-libraries
[submodule "kiwi-elec"]
	path = kiwi-elec
	url = https://github.com/PhoenixRobotik/kiwi-elec
